/* override boostrap */

.navbar {
	margin-bottom: 20px;
}

.header-cover {
	background-image:url('../img/header-cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
}

.header-text-wrap {
	color:white;
	padding: 5% 30% 0 5%;
}

.row-space {
	padding: 50px 0;
}

.row-space h2 {
	margin-bottom: 40px;
	text-decoration: underline;
}

.navbar-margin-top {
	margin-top: 20px;
}

.glyphicon-thumbnail {
	font-size: 10rem;
	padding: 20%;
	display: block
}

/* Extra css for text readability on phone */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 20px;
	}

	span {
		display: block
	}

	.header-span-mobile-resize {
		font-size: 20px
	}

	.header-text-wrap {
		color:white;
		padding: 10% 0 0 5%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 20px;
	}

	span {
		display: block;
	}

	.header-span-mobile-resize {
		font-size: 20px
	}

	.header-text-wrap {
		color:white;
		padding: 10% 0 0 5%;
	}
}
